<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>hair salon</title>
    </head>
    <body>
        <h1>Al's Hair Salon</h1>
        <h3><i>Welcome, Al</i></h3>
        <h2>Your Stylists</h2>
        <ul>
            {% for stylist in stylists %}
                <a href="/stylist/{{stylist.getId}}"><li>{{stylist.getName}}</li></a>
            {% endfor %}
        </ul>
        <h2>Add a Stylist</h2>
            <form class="" action="/addstylist" method="post">
                <label for="name">Name:</label>
                <input type="text" name="name" value="">
                <button type="submit" name="button">Add</button>
            </form>

    </body>
</html>
